*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x:hidden;
    scroll-behavior: smooth;
}
/* ------------------------------------ General vars */


.main-background{
background-color: #ede8e8;
}

.fs-20{
  font-size: 20px;
}

.heading-name{
  font-size: 50px;
  font-weight: 600;
  display: block;
  text-align: center;
}

/* ------------------------------------ Header */
header{
  padding-top: 20px;
}
.navbar{
  margin: 0 auto;
  width: 95%;
  border-radius: 50px;

}
.image-avatar{
  height: 300px;
  width: 300px;
}
.heading-divider{
  color: black;
  background-color: black;
  height: 2px;
  width: 30%;
  min-width: 270px;
}
.icon-property{
  font-size: 40px!important;
  margin-left: 10%;
  margin-top: 4%;
}
.icon-circle{
  height: 80px;
  width: 80px;
  border: 3px solid white;
  border-radius: 50%;
  margin-left: 1%;
}


/* ------------------------------------ Portfolio} */
.portfolio .portfolio-item {
  cursor: pointer;
  position: relative;
  display: block;

}
.portfolio .portfolio-item .portfolio-item-title {
  position: absolute;
  opacity: 0;
  background-color: #343a40;
}
.portfolio .portfolio-item .portfolio-item-title:hover {
  transition: all 0.4s ease-out;
  opacity: 0.7;
  border-radius: 50%;
}
/* ------------------------------------ Contact */
 form{
   border: 1px solid #ede8e8;
   padding: 15px;
   border-radius: 10px;
   background-color: white;
 }
  .form-control{
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0;
  }
  .form-control:active, :hover, :focus{
    box-shadow: none!important;
  }
.form-style {
  width: 65%;
}

/* ------------------------------- Skills */


.frontend-style{
  border: 3px solid #ede8e8;
  border-radius: 15px;
}
.backend-style{
  border: 3px solid #ede8e8;
  border-radius: 15px;
}
.skill-style{
  width: 100%;
  margin-bottom: 35px
}
.progress{
  margin-bottom: 15px;
}
.skills-align-center{
  text-align: center;
}
